@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "fort-bold";
  src: url("/server/public/resources/fonts/Fort-Bold.eot");
  src: url("/server/public/resources/fonts/Fort-Bold.woff") format("woff"),
  url("/server/public/resources/fonts/Fort-Bold.otf") format("opentype"),
  url("/server/public/resources/fonts/Fort-Bold.svg#filename") format("svg");
  }
  
  @font-face {
    font-family: "fort-book";
    src: url("/server/public/resources/fonts/Fort-Book.eot");
    src: url("/server/public/resources/fonts/Fort-Book.woff") format("woff"),
    url("/server/public/resources/fonts/Fort-Book.svg#filename") format("svg");
    }
    

    @font-face {
      font-family: 'mark-black';
      src: url('/server/public/resources/fonts/fontfont_ff.mark.pro.black-webfont.woff2') format('woff2'),
           url('/server/public/resources/fonts/fontfont_ff.mark.pro.black-webfont.woff') format('woff');
      font-weight: normal;
      font-style: normal;
  
  }
  
  
  @font-face {
      font-family: 'mark-bold';
      src: url('/server/public/resources/fonts/fontfont_ff.mark.pro.bold-webfont.woff2') format('woff2'),
           url('/server/public/resources/fonts/fontfont_ff.mark.pro.bold-webfont.woff') format('woff');
      font-weight: normal;
      font-style: normal;
  
  }
  
  @font-face {
      font-family: 'mark-medium';
      src: url('/server/public/resources/fonts/fontfont_ff.mark.pro.medium-webfont.woff2') format('woff2'),
           url('/server/public/resources/fonts/fontfont_ff.mark.pro.medium-webfont.woff') format('woff');
      font-weight: normal;
      font-style: normal;
  
  }
    

@layer base {
  html {
    font-family: mark-medium, fort-book, fort-bold, mark-bold, mark-black, system-ui, sans-serif;
  }
}

/* Remove input arrows */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}





