/* Remove input arrows */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}

* {
  margin: 0 !important;
}

body {
  background-color: #faf8f1;
  color: #0a1520;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}



/* App level "Segment" container around input */
#app .ui.segment{
  margin: 0;
  min-height: 10vh;
}

.input-cont {  
  display: inline-flex !important;
  align-items: center !important;
  width: 80vw !important;
}

.checkbox-cont {
  width: initial !important;
  display: flex !important;
  position: relative !important;
  top: 0.6vh !important;
}

/* Kiwisaver container & student loan elements container */
#app > div.ui.segment > form > div > div.ui.fluid.container.checkbox-cont > div.ui.fluid.container.kiwisaver-cont, #app > div.ui.segment > form > div > div.ui.fluid.container.checkbox-cont > div.ui.fluid.container.studentloan-cont {
  position: relative;
  width: initial;
}
/* Kiwisaver dropdown menu */
#app > div.ui.segment > form > div > div.ui.fluid.container.checkbox-cont > div.ui.fluid.container.kiwisaver-cont > div.ui.vertical.kiwisaver-menu.menu, #app > div.ui.segment > form > div > div.ui.fluid.container.checkbox-cont > div.ui.fluid.container.studentloan-cont > div.ui.vertical.studentloan-menu.menu {
  position: absolute;
  display: block;
  bottom: -15.45rem;
  right: -4.5rem;
}
/* Output container */
.output-cont{
  height: 50vh;
  background-color: #778899;
}

/* Output list */
#app > div.ui.list {
  margin-top: 0;
}
/* Header container */
.header-cont {
  height: 40vh;
}

.period-select {
  min-width: 8rem !important;
}
#app > div.ui.segment > form > div > div.field > div > div > i {
margin: -0.78571429em !important;
}

@media only screen and (max-width: 767px) {
  #app > div.ui.fluid.container.output-cont {
    margin: 0 !important;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  #app > div.ui.segment > form > div > div.ui.fluid.container.checkbox-cont {
  margin-left: auto !important;
  margin-right: 2.5vw !important;
}
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  #app > div.ui.segment > form > div > div.ui.fluid.container.checkbox-cont {
  margin-left: auto !important;
  margin-right: 3vw !important;
}
}

@media only screen and (min-width: 1200px) {
  #app > div.ui.segment > form > div > div.ui.fluid.container.checkbox-cont {
  margin-left: auto !important;
  margin-right: 10vw !important;
}
}
/*  */

/* Output colours */
.opportunity {
  color: #FEE767 !important;
}

.loss {
  color: #BA0000 !important;
}

.gain {
  color: #20FE20 !important;
}
